<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express basic site 1</title>
    <LINK REL="StyleSheet" HREF="../public/main.css" TITLE="Maincss">
</head>
<body>
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
    </ul>
    <img src="/public/banner.png" alt="Mi imagen">    {{{body}}}
</body>
</html>